<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Hi, this is a Splurty page built by <a target="_blank" href="https://pangv.netlify.com/">Vincent Pang</a> for his <a target="_blank" href="https://online.bootcampspot.com">coding Boot Camp course</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class:'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Vincent Pang</h2>
      <br />
      <p>
        Vincent is in the software industry as a QA tester for almost 20 years. Blah blah blah, about myself.
      </p>
    </div>
  </div>
  <br class="clear" />



</div>

<br />
<br />
<br />
